* {
    margin: 0;
    padding: 0;
} 

body{
    background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.creativefabrica.com%2Fpng%2Fsport-car-png-NGNplIJix%2F&psig=AOvVaw2BphqyyIZkbMO-wU1l_zeZ&ust=1731659971040000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCODLj56224kDFQAAAAAdAAAAABAE');
    background-size: cover;
}