* {
    margin: 0;
    padding: 0;
} 

body{
    background: url('https://www.google.com/imgres?q=rohit%20sharma%20wallpaper%20with%20world%20cup%20jpg&imgurl=https%3A%2F%2Fmedia.gettyimages.com%2Fid%2F2159846964%2Fphoto%2Ffinal-icc-mens-t20-cricket-world-cup-west-indies-usa-2024.jpg%3Fs%3D594x594%26w%3Dgi%26k%3D20%26c%3D_Oq0PCk9JEEloA7xM9a-T-6f_7EI8D_kDHmlo2EC-II%3D&imgrefurl=https%3A%2F%2Fwww.gettyimages.com%2Feditorial-images%2Fsport%2Fevent%2Frohit-sharma%2F776167172&docid=W5Ia3pXZ-wounM&tbnid=fIrzIdVMAqZZQM&vet=12ahUKEwies4ajrNuJAxXl_rsIHUKYCJgQM3oECF4QAA..i&w=594&h=396&hcb=2&ved=2ahUKEwies4ajrNuJAxXl_rsIHUKYCJgQM3oECF4QAA');
}